# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Backend dataset
# =========================
backend/app/data/candidates.jsonl

# =========================
# Frontend (Next.js)
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.turbo/

# Optional
*.log
.DS_Store